body {
    background-color: grey;
}
h1 {
    text-align:center;
font-size: 250%;
    }
h2 {
    text-align: center;
      font-size: 190%;
}
p {
    font-style: oblique;
    font-size: larger;
    border-style: dashed;
    border-radius: 10px;
}
.info {
    text-align: center;
}
.email {
    text-align: center;
}
