body {
    background-color: grey;
}
h1 {
    text-align: center;
    color: white;
    size: 250px;
}
h2 {
    text-align: center;
    color: white;
    size: 200px;
}
p {
    font-style: oblique;
    font-size: larger;
    border-style: dashed;
    border-radius: 10px;
}